# -----------------------------
# Python bytecode
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
env/
ENV/

# -----------------------------
# Python build artifacts
# -----------------------------
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# Jupyter notebooks
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# MacOS
# -----------------------------
.DS_Store

# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# PyCharm
# -----------------------------
.idea/

# -----------------------------
# Streamlit cache
# -----------------------------
.streamlit/

# -----------------------------
# Testing / coverage
# -----------------------------
.coverage
htmlcov/
.pytest_cache/

# -----------------------------
# Environment variables
# -----------------------------
.env